.App {
    min-height: 100vh;
    text-align: center;
    background: #303131;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 6px 5px;
}

button {
    padding: 7px 7px;
    border: none;
    color: white;
    background: rgb(55, 119, 25);
    margin-left: 10px;
}

.city {
    font-size: 20px;
}